<!DOCTYPE html>
    <head>
        <title> 404 Page Not Found</title>
        <link href="style.css" rel="stylesheet" type="text/css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>404: Page Not Found</header>
        <h1>Sorry, the page you are looking for could not be found.</h1>
        <nav>
			Navigation:
			<a href="index">Home <img src="arr1.gif" /></a>
			
			<a href="contact">Contact Us <img src="arr2.gif" /></a>
			
			<a href="travelpackages">Travel Packages <img src="arr3.gif" /></a>
			
			<a href="register">Customer Registration <img src="arr4.gif" /></a>
		</nav>
    </body>
</html>