<!DOCTYPE html>
<html>
	<head><title>Travel Agents</title>
	<link href="style.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
			<h2>The Travel Experts</h2>
			
			<h3>Please Select an Agency</h3>
			Agency: <select name="AgencyId">
				<option value="">Select an agency</option>
				<% result.forEach((agency) => { %>
				<option value="<%= agency.AgencyId %>">
					<%= agency.AgncyCity %>
				</option>
				<% }); %>
			</select>
	</body>
</html>