<!DOCTYPE html>
<html>
	<head>
		<title>Travel Experts</title>
		<link href="style.css" rel="stylesheet" type="text/css" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">	
	</head>
	<body>
		<header>
			Welcome to Travel Experts Inc! <br />
			<img src="tulum.png" title="Ruins at Tulum in Mexico" height="100px" width="100px" />
		</header>
		<main>
		<section class="about">
			<p>
				We're a small travel agency with offices in Calgary and Okotoks.
				Our expert agents would be happy to assist you with booking the vacation of your dreams.
				Explore the links below to get started, and enjoy your trip!
			</p>
		</section>
		<div class="sample-pics">
			<img src="comalcalco.png" />
			<img src="chichenitza.png" />
			<img src="oregon.png" />
		</div>
		<nav>
			<a href="index">Home <img src="arr1.gif" /></a>
			
			<a href="contact">Contact Us <img src="arr2.gif" /></a>
			
			<a href="travelpackages">Travel Packages <img src="arr3.gif" /></a>
			
			<a href="register">Customer Registration <img src="arr4.gif" /></a>
		</nav>
		</main>
	
		<footer>
			Copyright &copy;  Woody, Trevor, Tallis
		</footer>
		
	</body>
</html>