<!DOCTYPE html>
<html>
	<head>
		<title>My WebPage</title>
		<link href="style.css" rel="stylesheet" type="text/css" />	
	</head>
	<body>
		<header>
				Welcome to Travel Experts Inc <br /> 
				<img src="tulum.png" title="Ruins at Tulum in Mexico"  />
		</header>
		<main>
		
		<nav>
			Navigation: 
			<a href="contact">Contact Us <img src="arr1.gif" /></a>
			
			<a href="travelpackages">Travel Packages <img src="arr2.gif" /></a>
			
			<a href="register">Customer Registration <img src="arr2.gif" /></a>
		</nav>
		</main>
	
		<footer>
			Copyright &copy;  Woody, Trevor, Tallis
		</footer>
		
	</body>
</html>