<!DOCTYPE html>
<html>
	<head>
		<title>My WebPage</title>
		<link href="style.css" rel="stylesheet" type="text/css" />	
	</head>
	<body style="background-color:grey">
		<header>
				<h1>Welcome to Travel Experts Inc</h1> 
				<img src="media/tulumlogo.png" title="Ruins at Tulum in Mexico" /><br />
		</header>
		<main>
		<h2>Menu/Navigation</h2>
		<nav>
			<h2>Contact Us</h2>
			<a href="contact"><img src="/media/arr1.gif" /></a><br />
			<h2>Travel Packages</h2>
			<a href="travelpackages"><img src="/media/arr2.gif" /></a><br />
			<h2>Customer Registration</h2>
			<a href="register"><img src="/media/arr2.gif" /></a><br />
		</nav>
		</main>
	
		<footer>
			Copyright &copy;  Woody, Trevor, Tallis
		</footer>
		
	</body>
</html>