<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
    <title>Thank you!</title>
</head>
<body>
    <header>Thank you for Registering with Travel Experts!</header>
    <h3>You've signed up for: "Package Details"</h3>
    <h4>Have a great trip!</h4>
    <nav>
        <a href="index">Home <img src="arr1.gif" /></a>
        
        <a href="contact">Contact Us <img src="arr2.gif" /></a>
        
        <a href="travelpackages">Travel Packages <img src="arr3.gif" /></a>
        
        <a href="register">Customer Registration <img src="arr4.gif" /></a>
    </nav>
</body>
</html>