<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css" type="text/css">
    <title>Thank you!</title>
</head>
<body>
    <header>Thank you for Registering with Travel Experts!</header>
    <h3>You've signed up for: "Package Details"</h3>
    <h4>Have a great trip!</h4>
</body>
</html>