/*CRPG207 Threaded Project for OOSD
Team 4: Tallis MacDonald, Woody McBeath, Trevor Prosser */

body{
    background-color:rgb(219, 215, 174);
}
header{
    float: center;
    margin-top: 1%;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 1%;
    width: 90%;
    background-color:lightgreen;
    border-radius: 5px;
    text-align: center;
    font-family: "Helvetica Neue", sans-serif;
    font-weight: bold;
    font-size:225%;
    padding-top: 2%;
    padding-bottom: 2%;
    border:5px outset;
}
p{
    float: left;
    text-align: left;
    padding-left: 1%;
    padding-right: 1%;
    margin: 1%;
}
form{
    float: left;
    text-align: justify;
    padding-left:1%;
    padding-right:1%;
    font-size:110%;
    margin:1%;
    background-color: cyan;
    width:50%;
}
table{
    table-layout:auto;
    width:auto;
    background-color: aliceblue;
}
td {
    padding: 5px;
}
.about {
    display: flex;
    justify-content: center;
    font-size: 2rem;
}
.about p {
    width: 80%;
    text-align: center;
}
.sample-pics {
    display: flex;
    justify-content: space-around;
}
.sample-pics img {
    height: 200px;
    width: 200px;
    border-radius: 20px;
}
nav{
    position:fixed;
    bottom:1%;
    left:1%;
    width:80%;
    margin-top:1%;
    margin-left: 9%;
    margin-right: 9%;
    border-top: double, darkkhaki;
    text-align: center;
    font-size: 150%;
    font-weight: bold;
    font-family: "Helvetica Neue", sans-serif;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    background-color: bisque;
    border-radius:10px;
    border: 3px groove;
}
footer {
    position: fixed;
    bottom: 1%;
}