/*CRPG207 Threaded Project for OOSD
Team 4: Tallis MacDonald, Woody McBeath, Trevor Prosser
Code Contributors: TM, WB, TP
*/
/*Defines the HomePage Header, Body, paragraph, and form for layout, coloring, and font styles*/
body{
    background-color:rgb(219, 215, 174);
}
header{
    float: center;
    margin-top: 1%;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 1%;
    width: 90%;
    background-color:lightgreen;
    border-radius: 5px;
    text-align: center;
    font-family: "Courgette", cursive;
    font-weight: bold;
    font-size:225%;
    padding-top: 2%;
    padding-bottom: 2%;
    border:5px outset;
}
p{
    float: left;
    text-align: left;
    padding-left: 1%;
    padding-right: 1%;
    margin: 1%;
}
form{
    float: left;
    text-align: left;
    padding-left:1%;
    padding-right:1%;
    font-size:110%;
    margin:1%;
    background-color: cyan;
    width:30%;
    border: 5px groove;
}
/******* Travel Packages *******/
/*Style formatting specific to the TravelPackages page to account for the table layout, colors, and font style by TM*/
table {
    font-family: Arial, Helvetica, sans-serif;
    float: center;
    border: 1px solid;
    table-layout: auto;
    width: 100%;
    background-color: #CCF3EE;
    padding: 3px;
    color: 53BF9D;
    margin-left: auto;
    margin-right: auto;
    border-top-color: red;
    border-style: none;
}

th {
    color: green;
    font-weight: 700;
    height: 20px;
    border-style: none;
}

.expired {
    color: red;
    font-weight: bold;
}
.packages {
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    color: red;
    font-size: 1.5rem;
}
.packages-container {
    display: flex;
    justify-content: space-around;
}
.register{
    background-color:#82a8df;
    float:left;
    width:40%;
}
td {
    padding: 5px;
}
.expired {
    color: red;
    font-weight: bold;
}
/******* Main Page *******/
/*Style formatting specific to the HomePage page by TP*/

/*Style formatting for the "About" section of the homepage where the display, layout, and font is designed*/
.about {
    display: flex;
    justify-content: center;
    font-size: 2rem;
}
.about p {
    width: 80%;
    text-align: center;
}
.sample-pics {
    display: flex;
    justify-content: space-around;
}
.sample-pics img {
    height: 200px;
    width: 200px;
    border-radius: 20px;
}
/******** Contact Page ********/
/*Style formatting specific to the Contact page by WB*/
.agencies, .agents {
    text-align: center;
    text-decoration: underline;
    font-size: 1.5rem;
}
.agency-container, .agent-container {
    display: flex;
    justify-content: space-around;
}
.agency-info, .agent-info {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    padding: 10px;
    border-radius: 5px;
}
.agency-info {
    background-color: #ECB390;
}
.agent-info {
    align-items: center;
    background-color: #94B49F;
}
.phone {
    text-decoration: underline;
}
/******** Navigation Bar on Each Page ********/
/*Style formatting specific to the Navigation Bar page by TP*/
nav{
    position:fixed;
    bottom:5%;
    left:1%;
    width:80%;
    margin-top:1%;
    margin-left: 9%;
    margin-right: 9%;
    border-top: double, darkkhaki;
    text-align: center;
    font-size: 150%;
    font-weight: bold;
    font-family: "Helvetica Neue", sans-serif;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    background-color: bisque;
    border-radius:10px;
    border: 3px groove;
}
nav a {
    text-decoration: none;
    color: #1363DF;
}
nav, a:hover{
    color: #47B5FF;
}
footer {
    position: fixed;
    bottom: 1%;
    left: 45%;
}