/*CRPG207 Threaded Project for OOSD
Team 4: Tallis MacDonald, Woody McBeath, Trevor Prosser
Code Contributors: TM, WB, TP
*/
/*Defines the HomePage Header, Body, paragraph, and form for layout, coloring, and font styles*/
body {
    background-color: #CCF3EE /* mint green rgb(219, 215, 174); */
}
header {
    margin-top: 1%;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 1%;
    width: 90%;
    background-color: #3E8E7E; /*deep seafoam*/
    border-radius: 5px;
    text-align: center;
    font-family: "Courgette", cursive;
    font-weight: bold;
    font-size: 225%;
    padding-top: 2%;
    padding-bottom: 2%;
    border: 5px outset;
    color: #362222; /*burnt deep brown*/
}
p{
    float: left;
    text-align: left;
    padding-left: 1%;
    padding-right: 1%;
    margin: 1%;
}
/*Style Formatting for the Customer Registration Form done by WM*/
form {
    float: left;
    text-align: left;
    padding-left: 1%;
    padding-right: 1%;
    font-size: 110%;
    margin: 1%;
    background-color: #E5CB9F; /*sunset orange*/
    width: 30%;
    border: 5px groove;
    color: #362222 
}
/******* Travel Packages *******/
/*Style formatting specific to the TravelPackages page to account for the table layout, colors, and font style by TM*/
table {
    font-family: 'Raleway', sans-serif;
    float: center;
    border: 1px solid;
    table-layout: auto;
    width: 100%;
    background-color: #CCF3EE; /*mint green*/
    padding: 3px;
    margin-left: auto;
    margin-right: auto;
    border-top-color: #3E8E7E; /*deep sea foam*/
    border-style: onset;
}
th {
    color: #CCF3EE;
    text-align: center;
    font-weight: 700;
    height: 20px;
    border-style: onset;
    background-color: #3E8E7E; /*deep sea green*/
    color: #362222; /* deep brown*/
    font-family: 'Raleway', sans-serif;
}
.expired {
    color: red;
    font-weight: bold;
}
.packages {
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    color: #362222; /* deep brown*/
    font-size: 1.5rem;
}
.packages-container {
    display: flex;
    justify-content: space-around;
}
/*Styling for pop-window*/
.register {
    background-color: #3E8E7E; /*aqua blue*/
    float: left;
    width: 40%;
    color: #362222; /* deep brown*/
}
td {
    padding: 5px;
}
.expired {
    color: red;
    font-weight: bold;
}
/* Styles for image carousel on travel packages page by TP */
.slider-container {
    display: grid;
    place-items: center;
}
.slider {
    width: 100%;
    max-width: 800px;
    height: 350px;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
}
.slide {
    width: 100%;
    max-width: 800px;
    height: 350px;
    position: absolute;
    transition: all 0.5s;
}
.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
} 
.btn {
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 50%;
    z-index: 10px;
    cursor: pointer;
    background-color: #fff;
    font-size: 18px;
} 
.btn:active {
    transform: scale(1.1);
}
.btn-prev {
    top: 45%;
    left: 2%;
}
.btn-next {
    top: 45%;
    right: 2%;
}
/******* Main Page *******/
/*Style formatting specific to the HomePage page by TP*/

/*Style formatting for the "About" section of the homepage where the display, layout, and font is designed*/
.about {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    color: #362222; /* deep brown*/
}
.about p {
    width: 80%;
    text-align: center;
}
.sample-pics {
    display: flex;
    justify-content: space-around;
}
.sample-pics img {
    height: 200px;
    width: 200px;
    border-radius: 20px;
  
}
/******** Contact Page ********/
/*Style formatting specific to the Contact page by TP*/
.agencies, .agents {
    text-align: center;
    text-decoration: underline;
    font-size: 1.5rem;
    color: #362222; /*deep brown*/
}
.agency-container, .agent-container {
    display: flex;
    justify-content: space-around;
}
.agency-info, .agent-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 5px; 
}
.agency-info {
    background-color: #7CD1B8; /*aqua blue*/
    width: 40%;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    color: #362222; /*deep brown*/
}
.agent-info {
    background-color: #FABB51;  /*sunset yellow*/
    width: 16%;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.2rem;
    font-style: bold;
    color: #362222;
}
.phone {
    text-decoration: underline;
}

/* Style items on thank you page */
.thanks {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/******** Navigation Bar on Each Page ********/
/*Style formatting specific to the Navigation Bar page by WM, TP*/
nav {
    position: fixed;
    bottom: 5%;
    left: 1%;
    width: 80%;
    margin-top: 1%;
    margin-left: 9%;
    margin-right: 9%;
    border-top: double, darkkhaki;
    text-align: center;
    font-size: 150%;
    font-weight: bold;
    font-family: "Helvetica Neue", sans-serif;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    background-color: #FFE59D;
    border-radius: 10px;
    border: 3px groove;
    color: #362222;
}
    nav a {
        text-decoration: none;
        color: #362222;
    }
nav, a:hover{
    color: #47B5FF;
}
footer {
    position: fixed;
    bottom: 1%;
    left: 45%;
}